$font-stack:Arial, sans-serif;
$background-color:#FF1493;
$primary-color:#000000;
$secondary-color:#E98EAB;

body {
background-color: $background-color;
font-family:$font-stack;
color:$primary-color;
}