.grid-container {display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 2%;}

$article: grid-area 1/1/1/4;
$image1: grid-area 2/1/2/1;
$image2: grid-area 2/3/2/3;
$footer: grid-area 3/1/4/4;

article{grid-area:article;} 
.image1{grid-area:image1;}
.image2{grid-area:image2;}
footer{grid-area:footer;}